
/* Landing Page Styling */
.landing-page-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #654321; /* Brown text color for consistency */
}

.container-title {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: hwb(0 23% 6%);
    padding-bottom: 30px;

}

.header-section {
    width: 100%;
}

.logo-container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Header styling */
.header-content {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    gap: 6px;
    background-color: rgba(236, 222, 204, 0.5);
    height: 100px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* horizontal-offset vertical-offset blur-radius color */
}

.header-logo {
    margin-left: 20px;
    justify-content: left;
    width: 50px;
    height: 50px;
}

.header-logo-text {
    width: 138px;
    margin-right: auto;
    margin-left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.home-logo-text {
    width: 60%;
}
.home-logo {
    width: 20%;
    height: 250px;
}

.header-button {
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    width: 60px;
    height: 90px;
    color: black; /* Adjust the color as needed */
    padding: 8px 16px; /* Adjust padding as needed */
    font-weight: bold;
    font-size: 22px;
    transition: background-color 0.3s ease;
}

.header-button a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Ensures text color matches .header-button color */
}



.header-button:hover {
    background-color: #ff5757; /* Orange background on hover */
    color: #654321; /* Brown text on hover */
}

/* Ensure links inside header do not have underline and have a pointer cursor */
.header-button:link, .header-button:visited {
    cursor: pointer; /* Changes cursor to pointer */
}

.timeline-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 50px;
}

.timeline {
    display: flex;
    justify-content: center;
    width: 85%;
}

.team-container {
    text-align: center;
}

.person {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 25px;
    margin-bottom: 5px;
    margin-right: 40px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    background-image: url("/public/images/tecsa.jpeg");
}

.two {
    background-image: url("/public/images/patrick.jpeg");
}

.three {
    background-image: url("/public/images/krish.jpeg");
}

.four {
    background-image: url("/public/images/kevin.jpeg");
}

.about-container {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
}

.about-container p {
    font-size: 20px;
}


.team-names {
    display: flex;
    float: left;
}

.info {
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 3em;
}

.footer-container {
    height: 50px;
}

/* Initial state of elements before they appear in view */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* State of elements when they are fully visible */
  .fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  